{
    "upstream_hostname": "localhost",
    "upstream_port": 21024,
    "debug_file": "debug.log",
    "core_plugin_path": "./core_plugins",
    "owner_uuid": "",
    "player_db": "config/player.db",
    "bind_port": 21025,
    "plugin_path": "./plugins",
    "command_prefix": "/",
    "chat_prefix": "@",
    "passthrough": false,
    "colors": {
    	"default": "^#F7EB43;",
    	"guest": "^#F7EB43;",
    	"registered": "^#A0F743;",
    	"moderator": "^#4385F7;",
    	"admin": "^#C443F7;",
    	"owner": "^#F7434C;"    
    }
}
