{
    "bind_port": 21025,
    "chat_prefix": "@",
    "colors": {
        "admin": "^#C443F7;",
        "default": "^#F7EB43;",
        "guest": "^#F7EB43;",
        "moderator": "^#4385F7;",
        "owner": "^#F7434C;",
        "registered": "^#A0F743;"
    },
    "command_prefix": "/",
    "core_plugin_path": "./core_plugins",
    "debug_file": "debug.log",
    "owner_uuid": "!!! SET THIS !!!",
    "passthrough": false,
    "player_db": "config/player.db",
    "plugin_config": {
        "motd_plugin": "Welcome to the server! Play nice.",
        "new_player_greeter_plugin": {
            "items": [
                [
                    "coalore",
                    200
                ],
                [
                    "alienburger",
                    5
                ]
            ],
            "message": "Welcome to the server! Here are some starter items to get you off to a good start."
        }
    },
    "plugin_path": "./plugins",
    "upstream_hostname": "localhost",
    "upstream_port": 21024
}